name: CI

on:
  push:
    branches: [main, beta]
  workflow_dispatch:

permissions: read-all

jobs:
  test_actions:
    name: Test actions
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout for testing preparation
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Test actions for simple action
        uses: ./
        with:
          serviceId: ${{ secrets.RENDER_SERVICE_ID }}
          apiKey: ${{ secrets.RENDER_API_KEY }}
