name: CI

on:
  push:
    branches: [main, beta]
  workflow_dispatch:

permissions: read-all

jobs:
  test_actions:
    name: Test actions
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout for testing preparation
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd

      - name: Test actions for simple action
        uses: ./
        with:
          serviceId: ${{ secrets.RENDER_SERVICE_ID }}
          apiKey: ${{ secrets.RENDER_API_KEY }}
