name: CodeQL

on:
  push:
    branches: [main, beta, alpha]
  pull_request:
    branches: [main, beta, alpha]

permissions:
  contents: read

jobs:
  codeql:
    name: Code QL
    runs-on: ubuntu-latest
    permissions:
      security-events: write

    strategy:
      fail-fast: false

    steps:
      - name: Checkout repository for code analysis
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Initialize CodeQL
        uses: github/codeql-action/init@6bc82e05fd0ea64601dd4b465378bbcf57de0314
        with:
          languages: javascript
          queries: security-extended

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@6bc82e05fd0ea64601dd4b465378bbcf57de0314
